/**
 * common stylings
 */

/**
 * Top margins
 */
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-t-30 {
  margin-top: 30px;
}

/**
 * Bottom margins
 */
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-b-40 {
  margin-bottom: 40px;
}
/**
 * Bottom margins
 */
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-r-30 {
  margin-right: 30px;
}

/**
 * Top paddings
 */
.p-t-5 {
  padding-top: 5px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-t-30 {
  padding-top: 30px;
}

/**
 * Bottom paddings
 */
.p-b-5 {
  padding-bottom: 5px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-b-30 {
  padding-bottom: 30px;
}

body {
  font-family: $font-family;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  padding: 50px 30px;
  @media only screen and (max-width: $screen-xs-max) {
    width:100%;
  }
}
.form-text {
  background: transparent;
  border: none;
  padding: 20px 30px;
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}
input:focus {
  outline:none;
  border-bottom: 1px solid #28a745;
}
.form-group {
  padding: 30px 0px;
}
.form-heading {
  text-align: center;
  @media only screen and (max-width: $screen-xs-max) {
    font-size: 2.0rem;
  }
}
.form-sub-heading {
  text-align: center;
  @media only screen and (max-width: $screen-xs-max) {
    font-size: 1.3rem;
  }
}
.submit-button {
  padding: 15px;
  width: 50%;
  margin: 0 auto;
  @media only screen and (max-width: $screen-xs-max) {
    width: 100%;
  }
  button {
    width: 100%;
    padding: 11px;
    font-size: 22px;
  }
}

.error {
  padding: 10px 30px;
  color: red;
}
.operation-error {
  padding: 40px 30px 0px 30px;
  color: red;
  margin-bottom: 0;
  text-align: center;
}
.success {
  padding: 40px 30px 0px 30px;
  color: #28a745;
  text-align: center;
  margin-bottom: 0;
}
button[disabled] {
  cursor: not-allowed;
}
