.baner {
  background: url('/assets/images/banner-back.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}
.jumbotron {
  background-color: transparent;
  color: #fff;
  text-align:center;
  padding: 7rem;
  @media #{$screen-xs} {
    padding: 7rem 0rem;
  }
  font-size: $font-size-30;
  cite {
    font-size: $font-size-25;
  }
}
