/**
 * Contains all the commonly used scss variables
 */

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-25: 25px;
$font-size-30: 30px;
$footer-background: #071B4D;
$active: #00ACB4;
$item-heading-color: #333;
$font-family: 'PT Sans', sans-serif;
$screen-xs-max: 576px;
$screen-xs-min: 320px;