<main>
  <section class="baner">
    <div class="jumbotron">
     
     <div class="input-group mb-3 search-container">
      <input type="text" class="form-control" placeholder="Search for any kind of sports items">
      <div class="input-group-append">
        <span class="input-group-text">search</span>
      </div>
    </div>
    </div>
  </section>
  <section class="main-container container">
    <section class="row">
      <aside class="col-md-3 col-xs-12 col-sm-12">
        filters
      </aside>
      <section class="col-md-9 col-xs-12 col-sm-12">
        <app-product-cards></app-product-cards>
      </section>
    </section>
  </section>
</main>