<section class="row m-b-40">
  <section class="col-md-3 col-xs-12 col-lg-2">
    <div class="item-card">
      <div class="img-container">
        <a href="#">
          <img
            class="img-responsive item-image"
            src="https://via.placeholder.com/160"
          />
        </a>
      </div>
      <div class="item-desc">
        <p class="item-name">Cosco - Basket ball</p>
        <p class="item-price">
          <i class="fa fa-inr" aria-hidden="true"></i>357
        </p>
      </div>
    </div>
  </section>
  <section class="col-md-3 col-xs-12 col-lg-2">
    <div class="item-card">
      <div class="img-container">
        <a href="#">
          <img
            class="img-responsive item-image"
            src="https://via.placeholder.com/160"
          />
        </a>
      </div>
      <div class="item-desc">
        <p class="item-name">Cosco - Basket ball</p>
        <p class="item-price">
          <i class="fa fa-inr" aria-hidden="true"></i>357
        </p>
      </div>
    </div>
  </section>
  <section class="col-md-3 col-xs-12 col-lg-2">
    <div class="item-card">
      <div class="img-container">
        <a href="#">
          <img
            class="img-responsive item-image"
            src="https://via.placeholder.com/160"
          />
        </a>
      </div>
      <div class="item-desc">
        <p class="item-name">Cosco - Basket ball</p>
        <p class="item-price">
          <i class="fa fa-inr" aria-hidden="true"></i>357
        </p>
      </div>
    </div>
  </section>
  <section class="col-md-3 col-xs-12 col-lg-2">
    <div class="item-card">
      <div class="img-container">
        <a href="#">
          <img
            class="img-responsive item-image"
            src="https://via.placeholder.com/160"
          />
        </a>
      </div>
      <div class="item-desc">
        <p class="item-name">Cosco - Basket ball</p>
        <p class="item-price">
          <i class="fa fa-inr" aria-hidden="true"></i>357
        </p>
      </div>
    </div>
  </section>
  <section class="col-md-3 col-xs-12 col-lg-2">
    <div class="item-card">
      <div class="img-container">
        <a href="#">
          <img
            class="img-responsive item-image"
            src="https://via.placeholder.com/160"
          />
        </a>
      </div>
      <div class="item-desc">
        <p class="item-name">Cosco - Basket ball</p>
        <p class="item-price">
          <i class="fa fa-inr" aria-hidden="true"></i>357
        </p>
      </div>
    </div>
  </section>
  <section class="col-md-3 col-xs-12 col-lg-2">
    <div class="item-card">
      <div class="img-container">
        <a href="#">
          <img
            class="img-responsive item-image"
            src="https://via.placeholder.com/160"
          />
        </a>
      </div>
      <div class="item-desc">
        <p class="item-name">Cosco - Basket ball</p>
        <p class="item-price">
          <i class="fa fa-inr" aria-hidden="true"></i>357
        </p>
      </div>
    </div>
  </section>
</section>
